
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #666666;
}

h1 {
  color: white;
  font-size: 250%;
  text-align: center;
  padding: 2%;
}

h2 {

}

a {
  cursor: pointer;
  text-decoration: none;
}
a:link {
  color: dodgerblue;
}


/* Experience section */
.leftcol {
  float: left;
  width: 50%;
  display: flex;
  justify-content: center;
}
.rightcol {
  float: right;
  width: 40%;
  margin-right: 10%;
}


/* About section */
#abouttxt {
  color: #333333;
  position: absolute;
  float: left;
  width: 40%;
  margin-left: 10%;
  top: 50%;
  transform: translate(0, -60%);
}
#hi {
  font-family: 'Shadows Into Light', cursive;
  font-size: 400%;
  text-align: center;
  margin: 0;
}
#profilePic {
  border-radius: 50%;
  float: right;
  width: 30%;
  margin-right: 10%;
}


/* Section formatting */
#about {
  background-color: lightpink;
}
#experience {
  background-color: lightblue;
}
#skills {
  background-color: #ccbbff;
}
.sectionHead {
  vertical-align: top;
  display:inline-block;
  width: 100%;
}
.section {
  background-image: url("images/stucco.jpg");
  padding-top: 7%;
  padding-bottom: 7%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* float: left; <-- THIS BREAKS PARALLAX SCROLLING, USE OVERFLOW:HIDDEN TRICK*/
  overflow: hidden;
  width: 100%;
}


/* Page one styling */
#name {
  font-size: 300%;
  position: absolute;
  top: 40%;
  margin-left: 10%;
  animation: fadeInShrink 2s ease-in 0.5s both;
}
/* Top bar navigation menu */
#topbar{
  background-color: lightgrey;
  position: fixed;
  float: center;
  display: flex;
  width: 100%;
  z-index: 1;
  justify-content: center;
  animation: fadeIn 1.5s ease-in 1s both;
}
.menu {
  font-size: 115%;
  padding: 1.25% 1.25%;
}
.menu:hover {
  background-color: #B2D5B2;
}


/* Parallax effect */
.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
#page1 {
  background-image: url('images/plant.jpg');
  z-index: 1;
}
#page2 {
  background-image: url('images/plant2.jpg');
}
#page3 {
  background-image: url('images/plant4.jpg');
}
#page4 {
  background-image: url('images/plant3.jpg');
  position: relative;
  display: flex;
  justify-content: center;
}


/* Animation */
@keyframes fadeInShrink {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.02);
  }
  60%{
    -webkit-transform: scale(1.0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




/* HOVER COLOR */
a svg:hover #facebook,
a svg:hover #instagram,
a svg:hover #email,
a svg:hover #git,
a svg:hover #linked,
a svg:hover #phone {
  fill: #E5E5E5;
}

article {
  width: 100%;
  position: absolute;
  margin: 0;
  text-align: center;
  zoom: 2;
  bottom: 0;
}
a {
  outline: none;
  text-decoration: none;
  display: inline-block;
}
a svg #facebook,
a svg #instagram,
a svg #email,
a svg #git,
a svg #linked,
a svg #phone {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}
