body, html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #666666;
}

h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 70px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

#hi {
  color: #333333;
  float: left;
  max-width: 40%;
  margin-left: 200px;
}

#aboutText {
  float: left;
  margin-top: -30px;
  margin-left: -70px;
}

#profilePic {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-right: 100px;
  margin-top: 75px;
  margin-bottom: 75px;
}

#name {
  font-size: 50px;
  position: absolute;
  top: 40%;
  margin-left: 10%;
  animation: fadeInShrink 2s ease-in 0.5s both;
}


/* Section formatting */
#about {
  background-color: lightpink;
}
#experience {
  background-color: lightblue;
}
.sectionHead {
  vertical-align: top;
  display:inline-block;
  width: 100%
}
.section {
  background-image: url("images/stucco.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flow-root;
  width: 100%;
  margin: 0;
  padding: 0;
}


/* Top bar navigation menu */
#topbar{
  background-color: lightgrey;
  position: fixed;
  float: center;
  display: flex;
  width: 100%;
  z-index: 1;
  justify-content: center;
  animation: fadeIn 1.5s ease-in 1s both;
}
.menu {
  font-size: 18px;
  padding: 15px 20px;
}
.menu:hover {
  background-color: #B2D5B2;
}


/* Parallax effect */
.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
#page1 {
  background-image: url('images/plant.jpg');

  z-index: 1;
}
#page2 {
  background-image: url('images/plant2.jpg');
}
#page3 {
  background-image: url('images/plant4.jpg');
}

/* Animation */
@keyframes fadeInShrink {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.02);
  }
  60%{
    -webkit-transform: scale(1.0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
